h1 { @apply text-gray-700 text-2xl font-bold; }
h2 { @apply text-gray-700 text-xl font-bold; }
h3 { @apply text-gray-700 text-lg font-bold; }

.bold-link {
  @apply inline-block align-baseline font-bold text-sm text-blue-500;
  &:hover {
    @apply text-blue-800;
  }
}

.form-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.form-input {
  @apply appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight;
  &:focus {
    @apply outline-none border-blue-700;
  }
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  &:hover {
    @apply bg-blue-700;
  }
  &:focus {
    @apply outline-none shadow-outline;
  }
}
